<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>
<body> 
    <div class="form">
        <div class="info">
            <h1><i>User Information</i></h1>
            <hr>
            <p><b>ID : </b><%= id %></p>
            <p><b>Name : </b><%= name %></p>
            <p><b>Email : </b><%= email %></p>
            <br>
            <a href="/logout">logout</a>
        </div>
    </div>
</body>
</html>

<!-- all other navigation can be added from this page -->